body {
    font-family: inter;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #111;
    color: green;
    z-index: 2;

}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;

}

.text {
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
    z-index: -10;

}
.menu {
    display: none;
}